<div class="row categories">

	<div class="col-lg-4">
			<div class="category-block">
				<a href="/"><img src="/img/003.jpg" class="full-image"></a>
				<h3> <a href="/" class="block-title">Print</a></h3>
			</div>
	</div>

	<div class="col-lg-4">
			<div class="category-block">
				<a href="/"><img src="/img/003.jpg" class="full-image"></a>
				<h3> <a href="/" class="block-title">Web</a></h3>
			</div>
	</div>

	<div class="col-lg-4">
			<div class="category-block">
				<a href="/"><img src="/img/003.jpg" class="full-image"></a>
				<h3> <a href="/" class="block-title">Other</a></h3>
			</div>
	</div>

</div>
