<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

	<body>
		{% include header.html %}
		<div class="container-fluid">

			{% include categories.html %}
			{% include space.html %}

			<div class="row center">


				<div class="col-lg-3 col-lg-offset-2">
					<h3> <a href="/" class="underline-magical">Collage Art</a></h3>
						<div class="collage-block">
							{% include collage1.html %}
						</div>
				</div>

				<div class="col-lg-3 col-lg-offset-2 collage-block">
					<h3> <a href="/" class="underline-magical">Scrap Journal</a></h3>
					{% include collage2.html %}
				</div>


			</div>

			<div class="row center">


				<div class="col-lg-3 col-lg-offset-2 collage-block">
					<h3> <a href="/" class="underline-magical">Category</a></h3>
					{% include collage3.html %}
				</div>

				<div class="col-lg-3 col-lg-offset-2 collage-block">
					<h3> <a href="/" class="underline-magical">Category</a></h3>
					{% include collage4.html %}
				</div>


			</div>
		</div>
			{% include footer.html %}
  </body>
</html>
